.contact-container {
  font-size: 25px;
  color: #a4a4a4;
}

.contact-info-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  line-height: 35px;
  padding: 10px 0;
}

.fas, .fab {
  cursor: pointer;
  margin-right: 12px;

  &.fa-envelope {
    color: #eed96d;
  }
  
  &.fa-linkedin {
    color: #ccbaac;
  }

  &.fa-github {
    color: #737370;
  }
}



@media screen and (max-width: 400px) {
  .contact-container {
    height: 20vh;
    padding-left: 30px;
  }
}
