.App {
  width: 100%;
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #7e556a;
  color: white;
  height: 50px;
  position: relative;
  top: 0;
  transition: all 0.5s;
  z-index: 1;
}

@media screen and (max-width: 480px) {
  .fixed-nav .logo {
    max-width: 0;
  }
}

